{% extends 'base.html' %}
{% block title%}Creating Blogs{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<h1>Add Blogs</h1>
<br/>
<br/>
<div class="form-group">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <button class="btn btn-primary">Post</button>
</div>

   <script>
       var name = "{{ user.id }}";
       document.getElementById("elder").value
        = name;
   </script>
{% else %}
 Go login in
{% endif %}
{% endblock %}